
@{
    ViewBag.Title = "MENU NAME";
}


<h2>@Model.Menu.Name</h2>

<table class="table">

    <tr>
        <th>Name</th>
    </tr>

    <ul>
        @foreach (var cheeseMenu in Model.Items)
        {
            <li>
                @cheeseMenu.Cheese.Name
            </li>
        }
    </ul>

</table>

@if (Model.Items.Count == 0)
{
    <p>No cheeses yet!</p>
}

    <p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>